*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ===== flex classes ===== */
.flex{
    display: flex;
}

.f-row{
    flex-direction: row;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-column{
    flex-direction: column;
}

/* colors */
.grey{
    color: gray;
}

.white{
    color: white;
}

/* utilities */
.me-5{
    margin-right: 5px;
}


/* ================================= MAIN ================================= */

/* ===== side bar ===== */
.aside .container{
    width: 75px;
    height: calc(100vh - 100px);
    background-color: black;
    flex-direction: column;
    align-items:center ;
    padding-top: 5px;
    position: relative;
    justify-content: space-between;
}

.logo, .nav, .nav div{
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.side-icon{
    font-size: xx-large;
    color: white;
}

.grey{
    color: #a3a3a3;
}

.john-doe div:last-child{
    font-size: xx-large;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

.fa-circle-down{
    font-size: small;
}

/* top bar */


/* ================================= FOOTER ================================= */
footer{
    background-color: #282828;
    height: 100px;
    position: fixed;
    width: 100%;
}

.footer{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-center, .footer-left, .footer-right{
    padding: 0px 10px;
    color: white;
}

/* === footer left === */
.footer-left{
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-left img{
    height: 50px;
    width: auto;
}

.footer-left div:nth-child(2){
    gap: 10px;
}

/* === footer center === */
.footer-center{
    width: 50%;
    gap: 20px;
}

/* primo div */
.footer-center div:first-child{
    align-items: center;
    justify-content: space-around;
}

.footer-center i{
    font-size: x-large;
}

/* secondo div */
.footer-center div:last-child{
    justify-content: space-between;
    align-items: center;
    font-size: xx-small;
}

.footer-center div:last-child div:nth-child(2){
    margin: 0 5px 0 5px;
    height: 3px;
    width: 100%;
    background-color: #878787;
    border-radius: 20%;
}

/* === footer right === */
.footer-right{
    width: 25%;
    align-items: center;
    gap: 10px;
}

/* primo div */
.footer-right div:first-child{
    width: 50%;
    gap: 10px;
    justify-content: end;
}

/* secondo div */
.footer-right div:last-child{
    height: 3px;
    width: 50%;
    background-color: #878787;
    border-radius: 20%;
}