*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex{
    display: flex;
}

.padd-lr10{
    padding-left: 10px;
    padding-right: 10px;
}

.white{
    color: white;
}

/* ============================================================================= */

/* MAIN */
.big-container{
    max-width: 575px;
    height: calc(100vh - 100px);
    background-color: blueviolet;
}

/* side bar */
.aside .container{
    width: 75px;
    height: calc(100vh - 100px);
    background-color: red;
    flex-direction: column;
    align-items:center ;
    padding-top: 5px;
}

.aside .container div i{
    font-size: 33px;
    padding-bottom: 15px;

}




/* top bar */
.topbar .container{
    width: calc(100vw - 75px);
    height: 75px;
    background-color: rgba(0,0,0,0.75);
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.topbar .container a{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: small;
    border-radius: 25px;
    text-decoration: none;
}

/* ============================================================================= */

/* FOOTER */
footer{
    background-color: #282828;
}

footer .container{
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 575px;
    height: 100px;
    color: #878787;
}

.footer-left, .footer-center, .footer-right{
    align-items: center;
    height: 75px;
}

/* footer left */
.footer-left{
    justify-content: flex-start;
}

.footer-left img{
    width: 50px;
    height: auto;
    padding-right: 5px;
}

.playing-track{
    align-items: center;
    padding-right: 15px;
}

.playing-track div *{
    font-size: .75rem;
}

.footer-left div:last-child{
    flex-direction: column;
}

.footer-left div:last-child *{
    padding-top: 5px
}


/* footer center */
.footer-center{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-center div:first-child *{
    padding: 0px 10px 0 10px;
    font-size: 30px
}

.playing-bar{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.playing-bar div:nth-child(2){
    margin: 0px 5px;
    height: 3px;
    width: 75%;
    background-color: #878787;
    border-radius: 20%;
}

.playing-bar{
    font-size: xx-small;
}


/* footer right */
.footer-right{
    justify-content: flex-end;
}

.list-desktop *{
    padding-right: 5px;
}

.volume{
    flex-direction: row;
    align-items: center;
}

.volume i{
    padding: 0 5px 0 5px;
}

.volume div{
    height: 3px;
    width: 75px;
    background-color: #878787;
    border-radius: 20%;
}